@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Georgia", "Book Antiqua", serif;
    background-image: url(../Img/clean-textile.png);
    background-color: #f4f4e8;
}

.wrapper{
    outline: 1px; 
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.h1{
    font-size: 2em;
    color: rgb(66, 9, 13);
    text-align: center;
    padding: 20px;  
}

header{
    background: linear-gradient(#f4f4e8, #d8d8c1);
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.nav {
    margin-top: 20px;
}

.nav ul li{
    display: inline-block;
    text-align: center;
    padding: 7px;
    width: 20%;
    min-height: 70px;
    vertical-align: middle;
    background-color: #c0c098;
}

.nav ul li a{
    text-decoration: none;
    color: rgb(90, 5, 11);
    display: block;
    padding: 0;
    height: 60px;
}

.m1, .m2, .m3, .m4, .m5{
    border: solid rgb(139, 120, 65);
    transition: all 0.1s;
}

.m1{
    border-width: 1px 3px 3px 1px;
    border-radius: 17px 0 0 17px;    
}

.m2, .m3, .m4{
    border-width: 1px 3px 3px 1px;
}

.m5{
    border-width: 1px 3px 3px 1px ;
    border-radius: 0 17px 17px 0;
}

.m1:hover, .m2:hover, .m3:hover, .m4:hover, .m5:hover{
    background: linear-gradient(#d8d8c1, #c0c098) ;
}

.m1:active, .m2:active, .m3:active, .m4:active, .m5:active{
	transform: translate(0px,1px);
    border-width: 5px 1px 1px 5px;
    box-shadow: inset 6px 6px 20px rgba(139, 120, 65,0.5);
}

.chapter{
    font-family: "Comforter", "Book Antiqua", serif;
    font-size:xx-large;
    color: rgb(107, 93, 53);
    padding: 20px;
}

.image1, .image2{
    max-width: 550px;
    height: 290px;
    object-fit: cover;
    overflow: hidden;
}

.image1{
    margin: 0 20px 20px 0;
    float: left;
}

.image2{
    margin: 0 0 20px 20px;
    float: right;
}

 
.image1 img, .image2 img{
    max-width: 100%;
    transition: 0.8s;
}

.image1 img:hover, .image2 img:hover{
    transform: scale(1.2);
}


footer{
    height: 70px;
    background-color: #d8d8c1;
    border-radius: 5px;
    margin-top: 10px;
}

.btn{
    height: 30px;
    width: 170px;
    margin: 30px;
    border: 3px solid rgb(107, 93, 53);
    padding: 7px 12px; 
    line-height: 70px;
    background-color: rgb(107, 93, 53);
    color: #fff;    
    text-align: center;
    text-decoration: none; 
    border-radius: 7px;
    transition: 1s;
}

.btn:hover{
    background-color: #d8d8c1;
    color: rgb(107, 93, 53);
}
